{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        {{ block('chat') }}
    </div>
{% endblock body %}

{% block chat %}

    <div id="chat_wrapper">
        <div id="template_idle" class="template">
            <div class="row text-center">
                <div>
                    <h3>{{ 'chat.title-text'|trans({}, 'AppBundle') }}</h3>
                    <p>{{ 'chat.body-text'|trans({}, 'AppBundle') }}</p>
                </div>
                <a class="btn btn-large btn-primary begin-chat">{{ 'chat.start-chat'|trans({}, 'AppBundle') }}</a>
            </div>
        </div>
        <div id="template_wait" class="template">
            <div class="row text-center">
                <h3><i class="fa fa-spin fa-refresh"></i> {{ 'chat.wait'|trans({}, 'AppBundle') }}</h3>
                <span class="state"></span>
            </div>
        </div>
        <div id="template_chat" class="template">
            <div class="row">
                <div class="message_box" id="message_box"></div>
            </div>
            <div class="row well">
                <form id="send-msg-form">
                    <div class="input-append">
                        <textarea id="message" placeholder="{{ 'chat.enter-message'|trans({}, 'AppBundle') }}" required="required"></textarea>
                        <button id="send-btn" type="submit" class="btn btn-primary btn-large has-spinner"><span class="spinner"><i class="fa fa-spin fa-refresh"></i></span>{{ 'chat.send-message'|trans({}, 'AppBundle') }}</button>
                    </div>
                    <div class="text-center">
                        <div class="show-chat"><a href="#" class="btn btn-danger close-chat">{{ 'chat.finish-chat'|trans({}, 'AppBundle') }}</a></div>
                        <div class="show-closed">{{ 'chat.end-chat'|trans({}, 'AppBundle') }} <a href="#" class="btn btn-primary begin-chat">{{ 'chat.start-chat-again'|trans({}, 'AppBundle') }}</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock chat %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@AppBundle/Resources/public/js/state-machine.min.js'
        '@AppBundle/Resources/public/js/widget.js' output='js/app.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        function areYouSure(e)
        {
            var question = '{{ 'chat.are-you-sure-to-finish-chat'|trans({}, 'AppBundle') }}';
            if (!confirm(question)) {
                e.preventDefault();
            }
        }

        function init() {
            var options = {};
            var labels = {};
            labels.newMessage = '{{ 'chat.new-message'|trans({}, 'AppBundle') }}';
            labels.serverConnection = '{{ 'chat.server-connection'|trans({}, 'AppBundle') }}';
            labels.waitContestant = '{{ 'chat.wait-contestant'|trans({}, 'AppBundle') }}';
            labels.chatClosed = '{{ 'chat.chat-closed'|trans({}, 'AppBundle') }}';
            labels.findContestant = '{{ 'chat.find-contestant'|trans({}, 'AppBundle') }}';
            options.labels = labels;
            options.port = 8090;

            $('#chat_wrapper').chatWidget(options);
        }

        $(document).ready(function () {
            init();

            $('.close-chat').click(function(e) {
                areYouSure(e);
            });
        });
    </script>
{% endblock javascripts %}